<div class="container">
    <div id="header" class="row">
        <a href="/" id="logo">CIPHERSAN</a>
        <ul id="menu">
            <li><a href="/"><span>Home</span></a></li>
            <li><a href="/"><span>Tutorials</span></a></li>
            <li><a href="/"><span>Articles</span></a></li>
            <li><a href="/"><span>About me</span></a></li>
            <li><a href="/"><span>Contact</span></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                <h2>CIPHER TOOLS</h2>
                <button routerLink="/vinegere" id="vinegere"
                    class="list-group-item list-group-item-action">Vinegere</button>
                <button routerLink="/playfair" id="playfair"
                    class="list-group-item list-group-item-action">Playfair</button>
                <button routerLink="/caesar" id="hill" class="list-group-item list-group-item-action">Caesar</button>
                <h2>CHALLENGES</h2>
                <button routerLink="/board-challenges" id="board" class="list-group-item list-group-item-action">Board
                    Challendes</button>
                <button routerLink="/rank" id="rank" class="list-group-item list-group-item-action">Top Rank</button>
            </div>
        </div>
        <div class="col-8">
                  <span><img src="../../../assets/images/cipher.gif" class="img-thumbnail" alt="Cinque Terre" height="100%" width="80%" /></span>
                </div>
    </div>
</div>
